* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root {
    --blanco: #fff;
    --clr: #192a56;
    --rosa: #ff4886;
    --verde: #0f0;
    --icons: #555;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: var(--clr);
}
/**************Navegación*************/
.navegacion {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}
/**************Fin Navegación*************/

/**************MenuToggle*************/
.menuToggle {
    position: relative;
    width: 65px;
    height: 65px;
    background-color: var(--rosa);
    border: 5px solid var(--clr);
    border-radius: 50%;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10;
    transform: translateY(-30px);
}

.menuToggle::before {
    content: '+';
    position: absolute;
    font-size: 3em;
    color: var(--blanco);
    transition: 1.5s;
}
.menuToggle:hover:before {
    transform: rotate(255deg);
}
.menuToggle i {
    position: absolute;
    inset: 0;
}
.menuToggle i::before {
    content: '';
    position: absolute;
    top: 22px;
    left: -23px;
    width: 20px;
    height: 20px;
    background-color: transparent;
    border-top-right-radius: 20px;
    box-shadow: 3px -6px var(--clr);
}
.menuToggle i::after {
    content: '';
    position: absolute;
    top: 22px;
    right: -23px;
    width: 20px;
    height: 20px;
    background: transparent;
    border-top-left-radius: 20px;
    box-shadow: -3px -6px var(--clr);
}
/**************Fin MenuToggle*************/
.menu {
    position: absolute;
    width: 60px;
    height: 60px;
    background-color: var(--blanco);
    border-radius: 70px;
    transform: translateY(-30px);
    transition: transform 0.5s, width 0.5s, height 0.5s;
    transition-delay: 1s,0.5s,0.5s;
}

.menuToggle:hover ~ .menu {
    width: 360px;
    height: 70px;
    transform: translateY(0px);
    transition-delay: 0s,0.5s,0.5s;
}

.menuToggle:hover ~ .menu ul li {
    opacity: 1;
    visibility: visible;
    transition-delay: calc(0.75s + var(--i));
    transform: translateY(0px);
}

.menu ul {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 35px;
    line-height: 80px;
}

.menu ul li {
    list-style: none;
    cursor: pointer;
    opacity: 0;
    visibility: hidden;
    transition: 0.25s;
    transition-delay: calc(0s + var(--i));
    transform: translateY(-30px);
}
.menu ul li:nth-child(3) {
    width: 30px;
}
.menu ul li a {
    display: block;
    font-size: 2em;
    text-decoration: none;
    color: var(--icons);
}
.menu ul li:hover a {
    color: var(--rosa);
}
